*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --white: #ffffff;
    --black: #000000; 
    --red: #E50914;
}
@font-face {
    font-family: 'MenaRegular'; /* You can choose any name for your font */
    src: url('./fonts/mena-grotesk/Mena/Grotesk/Regular.otf') format('opentype'); 
}
@font-face {
    font-family: 'Downey'; /* You can choose any name for your font */
    src: url('./fonts/downey/Downey/DEMO.ttf') format('truetype'); 
}
@font-face {
    font-family: 'PlusJakartaSans'; /* You can choose any name for your font */
    src: url('./fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Regular.ttf') format('truetype'); 
}

.container{
    padding: .4rem 2rem;
}
.logo{
    width: 200px;
}
.main{
    display: flex;
    flex-wrap: wrap;
}
.col_1{
    flex-basis: 24%;
    background-color: var(--black);
    padding: 4.78rem 4rem;
}
.col_2{
    margin-left: 2rem;
    flex-basis: 60%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
}
.col_1 p a{
    text-decoration: none;
    color: var(--white);
    font-family: 'MenaRegular', sans-serif;
}
.col_1 p{ 
    margin-bottom: 4rem;
    /* text-align: center; */
    text-decoration: none;
    color: var(--white);
    font-size: 1.2rem;
    cursor: pointer;
}
.col_1 p i{
    margin-right: .4rem;
}
.up{
    display: flex;
    flex-direction: row;
}
.down{
    display: flex;
    flex-direction: row;
}
.ol{
    flex-basis: 50%;
}
.nearby{
    font-family: 'Downey', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.profile{
    border: .1rem solid var(--black);
    display: flex;
    margin-bottom: 1rem;
    padding: .8rem;
    width: 90%;
    border-radius: .4rem;
}
.profile_Sq{
    margin-left: .4rem;
    /* flex-basis: 50%; */
}
.profile img{
    height: 80px;
    border: .1rem solid var(--black);
    border-radius: 50%;
}
.profile_Sq h6{
    font-family: 'MenaRegular', sans-serif;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: .2rem;
}
.profile_Sq p{
    font-family: 'MenaRegular', sans-serif;
    font-size: .8em;
    margin-bottom: .8rem;
    opacity: .8;
}
.chat{
    font-family: 'MenaRegular', sans-serif;
    padding: .4rem 1rem;
    border-radius: .4rem;
    border: .1rem solid var(--black);
    background-color: var(--white);
    color: var(--black);
    cursor: pointer;
    font-size: .8em;
}
.accept{
    font-family: 'MenaRegular', sans-serif;
    border-radius: .4rem;
    padding: .4rem .2rem;
    border: none;
    background-color: var(--red);
    color: var(--white);
    cursor: pointer;
    font-size: .8em;
}
.pricing{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pricing h1{
    font-family: 'MenaRegular', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: .2rem;
}
.pricing button{
    font-family: 'MenaRegular', sans-serif;
    border-radius: .4rem;
    padding: .4rem 0;
    border: none;
    background-color: var(--red);
    color: var(--white);
    cursor: pointer;
    font-size: .8em;
}
.subscribe{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.subscribe h1{
    font-family: 'MenaRegular', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: .2rem;
}
.subscribe div{
    padding: 1rem;
    font-family: 'MenaRegular', sans-serif;
    border-radius: .4rem;
    border: .1rem solid var(--black);
    background-color: #d3d3d3;
    color: var(--black);
    cursor: pointer;
    font-size: .8em;
    text-align: left;
}
.subscribe div p{
    margin-bottom: .4rem;
}
.map{
    width: 96%;
}

/* MEDIA-QUERIES */
@media only screen and (max-width: 1080px) {
    .col_1{
        padding: 4.78rem 2rem;
    }
    .accept{
        margin-top: .4rem;
    }  
}
@media only screen and (max-width: 980px) {
.logo{
    width: 180px;
}
.col_1{
    flex-basis: 8%;
    background-color: var(--black);
    padding: 4rem .1rem;
}
.col_1 p a{
    text-align: center;
    color: var(--black);
    margin-bottom: 2rem;
}
.col_1 p a i{
    margin-right: .4rem;
    display: block;
    color: var(--white); 
}
.col_2{
    margin-left: 2rem;
    flex-basis: 80%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
}
}
@media only screen and (max-width: 680px) {
   .ol{
    flex-basis: 100%;
   }
   .up{
    display: flex;
    flex-direction: column;
}
.down{
    display: flex;
    flex-direction: column;
}
.profile{
    width: 100%;
}
.map{
    width: 100%;
    margin-top: 1rem;
}
.col_2{
    margin-left: .4rem;
}
.subscribe{
    margin-top: 1rem;
}
.col_1{
    flex-basis: 2%;
    background-color: var(--black);
    padding: 2em .1em;
}
}
@media only screen and (max-width: 520px) {
    .col_1{
        flex-direction: row;
        flex-basis: 100%;
        display: flex;
        padding: .1rem;
        justify-content: center;
    }
    .col_2{
        padding: 1rem;
        flex-basis: 100%;
    }
    .col_1 p a i{
        margin-right: none;
        position: relative;
        top: 2.4rem;
    }
}